.app{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.to-do{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
}
.data input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
}
.data button{
    margin: 15px;
    width: 120px;
    padding: 8px;
    border: solid 2px;
    border-radius: 20px;
    background-color: gold;
    font-weight: 700;
    cursor: pointer;
}
.icon{
    font-size: 25px;
    margin-right: 7px;
    cursor: pointer;
}